src/Softscape.Infrastructure/.vs/
src/Softscape.Infrastructure/Softscape.Infrastructure.W8.Test/obj/
src/Softscape.Infrastructure/Softscape.Infrastructure.W8.Test/bin/
src/Softscape.Infrastructure/Softscape.Infrastructure.UAP/obj/
src/Softscape.Infrastructure/Softscape.Infrastructure.UAP/bin/
src/Softscape.Infrastructure/Softscape.Infrastructure.W8/bin/
src/Softscape.Infrastructure/Softscape.Infrastructure.W8/obj/
src/Softscape.Infrastructure/Softscape.Infrastructure.PCL/obj/
src/Softscape.Infrastructure/Softscape.Infrastructure.PCL/bin/
src/Softscape.Infrastructure/Softscape.Infrastructure.PCL.Test/obj/
src/Softscape.Infrastructure/Softscape.Infrastructure.WPA81/obj/
src/Softscape.Infrastructure/packages/
src/Softscape.Infrastructure/Softscape.Infrastructure.WPA81/bin/
src/Softscape.Infrastructure/Softscape.Infrastructure.PCL.Test/bin/
src/Softscape.Infrastructure/Softscape.Infrastructure.Controls/obj/
src/packages/
src/Softscape.Infrastructure.WPA81/obj/
src/Softscape.Infrastructure.WPA81/bin/
src/Softscape.Infrastructure.W8/obj/
src/Softscape.Infrastructure.Controls/bin/
src/Softscape.Infrastructure.Controls/obj/
src/Softscape.Infrastructure.PCL.Test/bin/
src/Softscape.Infrastructure.PCL.Test/obj/
src/Softscape.Infrastructure.PCL/bin/
src/Softscape.Infrastructure.PCL/obj/
src/Softscape.Infrastructure.UAP/bin/
src/Softscape.Infrastructure.UAP/obj/
src/Softscape.Infrastructure.W8.Test/bin/
src/Softscape.Infrastructure.W8.Test/obj/
src/Softscape.Infrastructure.W8/bin/
